@import "../../../assets/scss/variables";

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.example-full-width {
    width: 25%;
}  

span{
    color: $color-text-02;
}



.title {
    display: flex;
    margin: 1rem 0 1.5rem 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 0;
    }
}
.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin: 0;
    }
}
.password {
    margin: 1rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin: 0;
    }
}
.error{
    color: $color-text-02;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        padding: 0.3rem;
    }
}
