<section class="section">
    <div class="title">
        <h1>Login</h1>
        <p>Insert your credentials</p>
    </div>
    <div class="container">
        <form [formGroup]="formLogin" (ngSubmit)="callLoginService()">
            <div class="email">
                <h3>Email *</h3>
                <input maxlength="30" type="text" name="email" formControlName="email" placeholder="Email" />
            </div>
            <div class="password">
                <h3>Password *</h3>
                <input type="password" maxlength="20" name="password" formControlName="password"
                    placeholder="Password" />
            </div>
            <div *ngIf="isError" class="error">
                <h5>{{message}}</h5>
            </div>
            <div class="button__login">
                <button class="btn btn-dark" type="submit" [disabled]="!formLogin.valid">Login</button>
                <a href="../auth/register" mat-menu-item>Create account</a>
                <a href="/home" mat-menu-item> Home</a>
            </div>
        </form>
    </div>
</section>