@import "../../../assets/scss/variables";

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    display: flex;
    margin: 1rem 0 1.5rem 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 0;
    }
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin: 0;
    }
}
.email {
    display: flex;
    margin: 1rem 0 0 0;
    flex-direction: column;
    align-items: center;
    h3 {
        margin: 0;
    }
}
.password {
    margin: 1rem 0 1.5rem 0;
    display: flex;
    /* margin: 1rem 0 0 0; */
    flex-direction: column;
    align-items: center;
    h3 {
        margin: 0;
    }
}
.button__register {
    display: flex;
    margin: 1rem 0 1.5rem 0;
    flex-direction: column;
    align-items: center;
    a {
    padding: 0.3rem;
    }
}
.error{
    color: $color-text-02;
    display: flex;
    flex-direction: column;
    align-items: center;
}
