<section class="section">
    <div class="title">
        <h1>Register</h1>
        <p>Welcome!! You can register NOW!!!</p>
    </div>
    <div class="container">
        <form [formGroup]="formRegister" (ngSubmit)="callRegisterService()">
            <div class="user">
                <h3>User name </h3>
                <input maxlength="30" type="text" name="userName" formControlName="userName" placeholder="user name"/>
            </div>
            <div class="email">
                <h3>Email </h3>
                <input maxlength="30" type="text" name="email" formControlName="email" placeholder="Email" />
            </div>
            <div class="password">
                <h3>Password </h3>
                <input type="password" maxlength="20" name="password" formControlName="password"
                placeholder="Password" />
            </div>
            <div *ngIf="isError" class="error">
                <h4>{{message}}</h4>
            </div>
            <div class="button__register">
                <button class="btn btn-dark" type="submit" [disabled]="!formRegister.valid">register</button>
                <a href="../auth/login" mat-menu-item>
                    access your account instead</a>
                <a href="/home" mat-menu-item> Home</a>
            </div>
        </form>
    </div>

</section>