@import "../../../assets/scss/variables";

.logo {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: $color-bg-00;
    p {
        margin: 0;
        margin-right: 0.5rem;
        color: $color-text-01;
    }
    height: 4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
