<section class="section">
    <div class="title">
        <h1>Play</h1>
        <p>It's a great day to become a millionaire</p>
        <h1>Credits: {{credits}}</h1>
        <h1 *ngIf="isEnabledWallet">Your wallet: {{credits}}</h1>
    </div>
    <div class="container row">
        <div *ngFor="let result of results;let i = index" class="col-4 displayGame">
            <img *ngIf="!isImage[i]" src="../../assets/image/spinner.png" class="img-responsive-spinner" alt="spinner">
            <img *ngIf="isImage[i]" [src]="'../../../../assets/svg/'+result+'.svg'" class="img-responsive" alt="Lemon">
        </div>
    </div>
    <div class="container row">
        <div class="play-button">
            <button class="btn btn-danger" [disabled]="isEnabled" (click)="play()">Play</button>
        </div>
    </div>
    <div *ngIf="isError" class="error">
        <h5>{{message}}</h5>
    </div>
    <div class="container row">
        <div class="cash-button">
            <button [ngStyle]="{'top': numberTop+ 'px', 'left': numberLeft + 'px'}" [disabled]="isEnabledCashOut" (mouseenter)="moveButton()" (click)="playAgain()" id="cashOut" class="btn btn-info">CASH OUT</button>
        </div>
    </div>
</section>