@import "../../assets/scss/variables";

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    display: flex;
    margin: 1rem 0 1.5rem 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 0;
    }
}
.img-responsive{
    width: 100%;
}
.displayGame{
    border: 1px solid $color-brand-01;
    background-color: $color-status-02;
    padding: 1rem;
}

.play-button{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cash-button{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    button {
        padding: 1rem 2rem;
    }
}

button {
    padding: 2rem 4rem;
}
.spinner-border {
    width: 100%;
    height: 100%;
}


.img-responsive-spinner{
    width: 100%;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 2.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2.2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 2.2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
  
  @-moz-keyframes rotate {
      from {-moz-transform: rotate(0deg);}
      to {-moz-transform: rotate(360deg);}
  }
  
  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
#cashOut{
    position: relative;
    top: 0;
    left: 0;
}

.error{
    color: $color-text-02;
    display: flex;
    flex-direction: column;
    align-items: center;
}