@import "../../../assets/scss/variables";

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-bg-00;
    h1,
    p {
        margin: 0;
        color: $color-text-01;
    }
    height: 4rem;
}
