.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__login {
        margin: 4rem;
    }
    &__register {
        margin: 4rem;
    }
    button {
        padding: 2rem 4rem;
    }
}
