<section class="buttons">
    <div class="buttons__login">
        <button routerLink="../auth/login" mat-raised-button color="primary">Login</button>
    </div>
    <div class="buttons__register">
        <button routerLink="../auth/register" mat-raised-button color="accent">Register</button>
    </div>
</section>